<div ng-controller="NontrustedCtrl">

NON-TRUSTED MERCHANT

  <form name="NonTrustedMerchantPaymentForm">
    <label>
         Amount:
         <input type="text" class="form-control" placeholder="Amount to pay" name="amount" ng-model="myForm.amount" required>
    </label>

    <label>
         Numero de Telefono:
         <input type="text" class="form-control" placeholder="Número de telefono" name="msisdn" ng-model="myForm.msisdn" required>
    </label>

    <label>
         Country code:
         <input type="text" class="form-control" placeholder="Country code" name="countryCode" ng-model="myForm.countryCode" required>
    </label>

  <label>
         MerchantId:
         <input type="text" class="form-control" placeholder="Merchant ID" name="merchantId" ng-model="myForm.merchantId" required>
    </label>
    <p>
    <input type="submit" ng-click="pay(myForm)" value="Non Trusted Pay" />


 
  <p></p>
</form>


</div>